[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backtrader = "*"
alpaca-backtrader-api = "*"
ccxt = "*"
pandas = "*"
matplotlib = "==3.2.2"
pyfolio = "*"
pdbpp = "*"
sklearn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
